.padding-box {
  width: 200px;
  height: 100px;
  padding: 50px 0 0;
  background: #333;
}
.wrapper {
  padding: 100px 0;
}
.margin-box {
  width: 200px;
  height: 100px;
  margin: 50px 0 0;
  background: #444;
}
